.nuls-blue {
    background-image: linear-gradient(-133deg, #002e5e 0%, #092243 89%, #0a2140 100%);
}

table{
  font-size: 90%;
}

.navbar-brand-img, .navbar-brand > img {
  max-height: 2.5rem;
}

i.nuls,
i.nuls-dark {
  display: inline-block;
  height: 0.8em;
  width: 0.5em;
  background: url(https://nuls.world/assets/img/logo1.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  filter: grayscale(100%) contrast(160%) brightness(0.1);
}

i.nuls-dark {
  filter: none;
}

i.nuls:hover {
  filter: none;
}

a.address, span.address {
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 30vw;
}

.cell-full { max-width:1px; width:100%; }
.cell-20 { max-width:1px; width:20%;  }
.cell-ellipsis { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.cell-noWrap { white-space:nowrap; }

@media screen and (min-width: 640px) {
  .tabbed-pagination ul {
    margin-top: -2.8em;
  }
}

.chart-middle-caption {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .navbar-nav .nav-link > .fe {
    min-width: 1.5em;
    font-size: inherit;
    line-height: normal;
  }
  .navbar-nav .nav-link {
    margin-right: 1em;
  }
}

pre code {
  font-size: 87.5%;
  word-break: break-word;
  color: #2c7be5;
}
